# name: Maven CI Build
# on:
#   pull_request:
#     branches: [dev, master]
#   push:
#     branches: [dev]

# jobs:
#   build:
#     runs-on: ubuntu-latest
    
#     steps:
#     - name: Checkout Repository
#       uses: actions/checkout@v4
      
#     - name: Set up JDK 17
#       uses: actions/setup-java@v4
#       with:
#         java-version: '17'
#         distribution: 'temurin'
#         cache: maven
        
#     - name: Debug files
#       run: ls -la
      
#     - name: Validate Maven Wrapper
#       run: ./mvnw --version
      
#     - name: Cache Maven packages
#       uses: actions/cache@v4
#       with:
#         path: ~/.m2/repository
#         key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
#         restore-keys: |
#           ${{ runner.os }}-maven-
          
#     - name: Run Maven Lint/Test/Build
#       run: |
#         ./mvnw clean install -DskipTests=true  # Build ohne Tests
#         # Oder mit Tests: ./mvnw clean verify
        
    # Job-Name "build" wird als Status-Check "maven-ci-build" angezeigt
